<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">welcome</h4>
        <h4 routerLink="data-binding">Data Binding</h4>
        <h4 routerLink="calculater">Claculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="circle">Circle</h4>
        <h4 routerLink="bmi">BMI</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="employee">Employees</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="myntra">Myntra</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="printerest">Printerest</h4>
        <h4 routerLink="weather">Weather</h4>
        <h4 routerLink="blog">BLog</h4>
        <h4 routerLink="imdb">Imdb</h4>
        <h4 routerLink="userprofile">Social Profile</h4>
        <hr><br>
        <button>Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>