.nav{
    display: flex;
    justify-content:center;
    border: 5px solid goldenrod;
    gap: 1px;
    justify-content: space-evenly;
}

input{
    width: 220px;
}
select{
    width: 180px;
}

button{
    width: 130px;
}