<div class="container">
    <div class="top">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRO6jk9fd4ZLc8rf01Q46dLnGSnEqibdqSzSQkE_M6QSpbXPxNrJ9BtC40TKMq-OR9lcw&usqp=CAU"
        alt="">
    </div>
    <div class="shadow p-3 mb-5 bg-body rounded down">
        
        <h3>Sign in </h3>
        <h4 class="dis">Stay updated on your professional world</h4>

        <!-- <input class="form-control" type="text" placeholder="Email or Phone"> -->
        
        <input type="text" name="" id="" placeholder="Email or Phone"><br>
        <input type="password" name="" id="" placeholder="Password"><label class="show"><a href="">show</a></label><br>
        <h6><a href="">Forgot password?</a></h6>
        <button type="button" class="btn btn-primary">Sign in</button>

        <div class="h">
            <hr>
            <div class="ch2"><p>&nbsp;&nbsp;or &nbsp;&nbsp;</p></div>
            <hr>
        </div>
        <button type="button" class="btn btn-light"><i class="fa-brands fa-apple"></i> Signin With Apple</button>
    </div>
    <p class="join">New to Linkedin? <a href="" class="joinnow">Join now</a></p>
</div>