<div class="container">
    <div class="card">
        <h1>Weather in Hyderabad</h1>
        <h3></h3>
        <div class="card-body" [ngClass]="{'blue' :weathers.current_weather.temprature <0,'yellow' :weathers.current_weather.temprature>0 
          && weathers.current_weather.temprature<=30,'green':weathers.current_weather.temprature >30,'red':weathers.current_weather.temprature>35}">
          <svg xmlns="http://www.w3.org/2000/svg">
            <circle r="25" cx="30" cy="30" fill="red" /> 
          </svg> 
          <h1>{{weathers.current_weather.temprature}}</h1>
        </div>
        <h4>Wind Speed :{{weathers.current_weather.windspeed}}&nbsp;km</h4>
        <h4>Wind Speed :{{weathers.current_weather.winddirection}}&nbsp;NE</h4>
        <p>{{weathers.current_weather.is_day === 1 ? 'Daytime' : 'Nightime' }}</p>
        
      </div>
</div>
