<h1 *ngIf="!id">Create Student Details</h1><br>
<h1 *ngIf="id">Edit Student Details</h1><br>
<div class="card">
    <form action="" [formGroup]="studentForm">
        <label for="">Name : </label>
        <input type="text" formControlName="name"><br>
        <label for="">Phone : </label>
        <input type="text" formControlName="phone"><br>
        <label for="">DOB : </label>
        <input type="text" formControlName="dob"><br>
        <label for="">City : </label>
        <input type="text" formControlName="city"><br>
        <label for="">Email : </label>
        <input type="text" formControlName="email"><br>
        <label for="">School City : </label>
        <input type="text" formControlName="school_city"><br>
        <label for="">School Pin : </label>
        <input type="text" formControlName="school_pin"><br>
        <label for="">profile Picture : </label>
        <input type="text" formControlName="profile_picture"><br><br>
        <button class="btn btn-info" (click)="submit()">Submit</button>
    </form>
</div>
