.nav{
    display: flex;
    justify-content:center;
    border: 5px solid goldenrod;
    gap: 1px;
    justify-content: space-evenly;
}

input{
    width: 205px;
}
select{
    width: 150px;
}

button{
    width: 130px;
}

.info{
    width: 40px;
}

.table th{
    text-align: center;
    border: 2px solid black;
}

.table td{
    border: 1px solid gold;
}

