.container{
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 19rem;
    border: 2px solid gold;
}

img{
    width: 300;
    height: 300px;
    position: relative;
}

.text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.card:hover .text{  /* hover on image it will show text and download button behind */
    visibility: visible;
}


