
<div class="container">
    <h1>Create User</h1>
<form action="" [formGroup]="userForm">
    <label for="name">Name</label> 
    <input type="text" name="name" id="name" formControlName="name" appCapital><br>
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name is Required</p>
    </div>

    <label for="email">Email</label> 
    <input type="email" name="email" id="email" formControlName="email"><br>
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        <p *ngIf="userForm.get('email')?.errors?.['required']">Email is Required</p>
        <p *ngIf="userForm.get('email')?.errors?.['email']">Email is Invalid</p>
        <p *ngIf="userForm.get('email')?.errors?.['tcsMail']">Only TCS Mails Accepted</p>
    </div>


    <label for="password">Password</label> 
    <input type="password" name="password" id="password" formControlName="password"><br>
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
        <p *ngIf="userForm.get('password')?.errors?.['required']">Passwowrd is Required</p>
        <p *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be minimum 6 letters</p>
        <p *ngIf="userForm.get('password')?.errors?.['maxlength']">Password must be Maximum 10 letters</p>
    </div>

    <label for="mobile">Mobile</label> 
    <input type="number" name="mobile" id="mobile" formControlName="mobile"><br>
    <div *ngIf="userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched">
        <p *ngIf="userForm.get('mobile')?.errors?.['required']">Mobile Number is Required</p>
    </div>

    <div formGroupName="address">
        <label for="village">Village</label> 
        <input type="text" formControlName="village"><br>

        <label for="District">District</label> 
        <input type="text" formControlName="district"><br> 

        <label for="State">State</label>
        <input type="text" formControlName="state"><br>

        <label for="Pincode">Pincode</label>
        <input type="number" formControlName="pincode"><br>
    </div>

    <label>Type</label>
    <input type="radio" name="type" formControlName="type" value="dayscholer">
    <label>Dsayscholer</label>
    <input type="radio" name="type" formControlName="type" value="hostel">
    <label>Hostal</label><br>

    <div  *ngIf="userForm.get('type')?.value=='dayscholer'">
        <label>Bus Fee : </label>
        <input type="number" formControlName="busfee">
    </div>

    <div *ngIf="userForm.get('type')?.value=='hostel'"> 
        <label >Hostal Fee : </label>
        <input type="number" formControlName="hostelfee">
    </div>
    
    <button (click)="addcard()">Add Card</button>
    <div formArrayName="cards">
        <div *ngFor="let card of cardFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label for="">number</label>
                <input type="number" formControlName="name"><br>

                <label for="">Expiry: </label>
                <input type="month" formControlName="expiry"><br>
                
                <label for="">CVV: </label>
                <input type="number" formControlName="cvv"><br>
                <button (click)="delete(i)">Delete Card</button>

            </div>

        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" (click)="create()">Create</button>

</form>
</div>