.middle{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}