<p>student-details works!</p>
<div class="container">
<div class="card" style="width: 22rem;">
    <div class="middle">
        <div class="pimage">
            <img src="{{student.profile_picture}}" alt="" style="width: 100px; height: 100px;">
        </div> 
        <div class="t">
        <table>
            <tr><td>ID:</td><td>{{student.id}}</td></tr>
            <tr><td>NAME:</td><td>{{student.name}}</td></tr>
            <tr><td>PHONE:</td><td>{{student.phone}}</td></tr>
            <tr><td>DOB:</td><td>{{student.dob}}</td></tr>
            <tr><td>CITY:</td><td>{{student.city}}</td></tr>
            <tr><td>Email:</td><td>{{student.email}}</td></tr>
        </table>
        </div>
        
       
    </div>

</div>
</div>